<%= link_to "Back", root_path %>

<h1>Game <%= @game.created_at.to_formatted_s(:long) %></h1>

<h2>Kristina: <%= @kristina_score %> | Chris: <%= @chris_score %></h2>

<%= link_to "Create round", new_game_round_path(@game) %>

<% unless @game.completed_at %>
  <%= link_to "Complete game", game_path(@game), method: :patch %>
<% end %>

<hr />

<%= render @rounds %>
